// Material Colors
@use "sass:map";
@use 'sass:meta';

@use './functions' as f;
@use './mixins';
@use './variables' as var;

// material compoents for the web
@use '@material/theme' with (
  $primary: var.$primary,
  $secondary: var.$secondary,
  $background: var.$background,
  $surface: var.$surface,
  $error: var.$error,
);

/* カラーパレット*/
:root {
  // variables.scss で定義したカラー変数をCSSカスタムプロパティに登録
  //$colorMap: meta.module-variables('var');
  //@include mixins.propertyColorHexWithRGB($colorMap);
  @each $name, $color in var.$properties {
    --mdc-theme-#{"" + $name}: #{$color};
  }

  @at-root {
    /* Material Components for the web - Theme */
    @include theme.core-styles();
  }
}
