@use 'sass:map';
@use 'material-colors/dist/colors.scss';

// テーマカラー変数
$primary: colors.$md-amber-500;
$primary-dark: colors.$md-amber-700;
$primary-light: colors.$md-amber-300;
$secondary: colors.$md-cyan-500;
$secondary-dark: colors.$md-cyan-700;
$secondary-light: colors.$md-cyan-300;
$background: colors.$md-grey-200;
$surface: colors.$md-grey-200;
$on-surface: colors.$md-dark-text-primary;
$error: colors.$md-red-900;
$on-error: colors.$md-light-text-primary;

$properties: (
  primary-dark: $primary-dark,
  primary-light: $primary-light,
  secondary-dark: $secondary-dark,
  secondary-light: $secondary-light,
  white: colors.$md-white,
  black: colors.$md-black,
);
