[submodule "vlife-articles"]
	path = src/outsides/asciidocs
	url = https://github.com/akiakishitai/vlife-blog-articles
[submodule "gas"]
	path = gas
	url = https://github.com/akiakishitai/vlife-blog.git
	branch = gas
