@use 'common';
@use 'mixin';
@use 'base';
//@use '../scss/animations' as anim;

/* 上部余白 */
.paragraph,
.listingblock,
.exampleblock,
.quoteblock,
.imageblock,
.videoblock,
.hdlist,
.dlist,
.qlist,
#footnotes {
  @apply mt-4;
}

/* Table Block */
table.tableblock {
  @apply shadow;

  th {
    @apply bg-primary bg-opacity-50;
  }

  tbody tr {
    @apply border-b border-grey-600 border-opacity-50;
  }
}
.tableblock {
  @extend %table-halign;
}

/* Block Title */
.title {
  + table,
  + ol,
  + ul,
  + .content > pre {
    @apply mt-0;
  }
}
.admonitionblock td.content,
.audioblock,
.exampleblock,
.imageblock,
.listingblock,
.literalblock,
.stemblock,
.openblock,
.paragraph,
.quoteblock,
table.tableblock,
.verseblock,
.videoblock,
.dlist,
.olist,
.ulist,
.qlist,
.hdlist {
  > .title {
    @apply italic font-semibold;
    @apply text-black text-opacity-54;
  }
}
.listingblock > .title {
  @extend %material-icon-prefix;

  &::before {
    content: 'topic';
    @apply text-primary-dark;
  }
}
.ulist > .title {
  @apply mt-4;
}

/* Table of Contents */
@media screen and (max-width: 47.999rem) {
  #toc {
    @apply hidden;
  }
}
#toc {
  // レイアウト
  grid-column: 1;
  grid-row: 1 / 8;
  grid-auto-rows: 100%;
  @apply text-sm;

  // スクロールバー
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 64vh;
  @apply sticky;
  top: 1.5rem;

  // アニメーション
  //@apply opacity-0;
  //@include anim.fadeinFromDown(1s, 300ms);

  ~ div {
    grid-column: 2;
    grid-auto-rows: 100%;
  }

  #toctitle {
    @apply font-semibold;
  }

  ul {
    @apply pl-0 mt-0;
    @apply list-none;

    li {
      @apply mt-0;

      ul {
        @apply pl-2;
      }
    }
  }

  a {
    @apply inline-block w-full;
    @apply text-grey-700;
    @apply no-underline;

    &:hover {
      @apply bg-grey-300;
      @apply text-black text-opacity-87;
    }
  }
}

/* Block quote */
.quoteblock {
  @apply bg-grey-300 bg-opacity-50;

  > .title {
    @apply bg-background;
  }

  blockquote {
    > .quoteblock {
      @apply bg-transparent;
      @apply border-l-4 border-grey-500 border-opacity-54;
    }

    > .paragraph:first-of-type {
      @apply mt-0;
    }
  }

  > .attribution {
    @apply mt-2 mr-4;
    @apply italic;
    @apply text-right;

    > cite {
      @apply text-black text-opacity-54;
    }
  }
}

/* Example content */
.exampleblock {
  @include mixin.title-icon-prefix('subject', var(--mdc-theme-primary-dark));

  > .content {
    @apply border border-grey-500;
    @apply rounded;
    @apply p-4;

    > :first-child {
      @apply mt-0;
    }
  }
}

/* Admonition Block */
.admonitionblock {
  @apply flex justify-center;

  table {
    @apply w-full;
    @apply table-fixed;
    @apply shadow-md;
  }

  .icon {
    @apply border-l-4;
    @apply font-semibold;
    @apply px-2;
    @apply w-12;

    .title {
      @extend %material-icon-prefix;
      @apply flex justify-center;
    }

    .fa[data-md-icon]::before {
      @extend %material-icon-font;

      @apply block text-center;
      @apply mr-0;

      content: attr(data-md-icon);
    }
  }

  .content .title {
    @apply italic;
  }

  .paragraph {
    @apply mt-2;
  }

  &.note {
    @include mixin.icon_prefix(blue-300);
  }
  &.tip {
    @include mixin.icon_prefix(teal-400);
  }
  &.important {
    @include mixin.icon_prefix(purple-500);
  }
  &.caution {
    @include mixin.icon_prefix(orange-600);
  }
  &.warning {
    @include mixin.icon_prefix(red-500);
  }
}

/* Description List */
.dlist,
.hdlist {
  .hdlist1 {
    @apply font-semibold;
  }
}
.hdlist {
  > table {
    //@apply w-full;
  }
}
.dlist {
  > dl {
    @apply px-4 py-2;
  }

  dt:not(:first-of-type) {
    @apply mt-4;
  }

  dd {
    @apply mt-2 ml-6;
  }
}

/* Callouts description */
.colist {
  > ol {
    @apply mt-0 pl-4;
    @apply list-none;

    counter-reset: callout-num;
  }
  li {
    @apply mt-1;
    @apply grid gap-2;

    grid-template-columns: 24px 1fr;

    &:first-of-type {
      @apply mt-0;
    }

    &::before {
      @apply w-6 h-6;
      @apply block text-center text-grey-200;
      @apply rounded-full bg-secondary;

      content: counter(callout-num);
      counter-increment: callout-num;
    }
  }
}
// Callouts in icon-font
// 丸数字
%callout-number {
  @extend %monospace;
  @apply inline-flex justify-center items-center;
  @apply not-italic text-white text-opacity-87;
  @apply rounded-full bg-secondary;
}
pre .conum[data-value] {
  &::before {
    @extend %callout-number;
    @apply w-5 h-5;
    @apply text-sm;

    content: attr(data-value);
  }
}
.colist {
  > table {
    @appy mt-0;

    > tbody > tr > td:last-of-type {
      @apply pl-0;
    }
  }

  .conum[data-value]::before {
    @extend %callout-number;
    @apply w-6 h-6;

    content: attr(data-value);
  }
}
.conum + b {
  display: none;
}

/* Image inline */
span.image > img {
  @apply inline;

  &[src^="https://cdn.jsdelivr.net/npm/simple-icons"]
  {
    @apply align-baseline;
  }
}

/* Imageblock with kroki */
.imageblock.kroki {
  svg {
    @apply max-w-full;
  }
}

/* Video Block */
.videoblock {
  > .content {
    @include mixin.iframe-breakpoints(9 / 16);
  }
}

/* Footnotes */
#footnotes {
  @apply text-sm;
}
