// Material Colors
@use 'material-colors/dist/colors.scss';
@forward 'material-colors/dist/colors.scss';

$primary-color: colors.$md-amber-500;
$secondary-color: colors.$md-cyan-400;
$background-color: colors.$md-grey-200;

// マテリアルデザインのカラーテーマ
@forward '@material/theme' with (
  $primary: $primary-color !default,
  $secondary: $secondary-color !default,
  $background: $background-color !default,
);
